.quality {
    background-image: url(../img/bg-key-qualit_lg.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 50px 0;
}
.effectiveness {
    padding: 90px 0;
}
/* .contact .header {
    background-image: url(../img/bg-say-hello-to-us_lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 130px 0;
} */
.about .header .blocks {
    padding: 130px 0;
}
.about .journey {
    background-image: url(../img/bg-our-journey_lg.png);
    background-position: left bottom;
    background-size: initial;
    padding: 175px 0;
}

.contact .header {
    background-image: url(../img/contact-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}
.contact .location .address {
    padding: 120px 30px;
    color: #ffffff;
}
.contact .location .address table {
    font-size: 14px;
}
.expertise .header {
    background-image: url(../img/expertise.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 0;
}
.m-t-50 {
    margin-top: -50px!important;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.pa-25 {
    padding: 25px 0;
}
.p-30 {
    padding: 30px;
}
.ph-1 {
    padding: 1rem 0;
}
.ph-2 {
    padding: 2rem 0;
}
.ph-3 {
    padding: 3rem 0;
}
.ph-4 {
    padding: 4rem 0;
}
.ph-5 {
    padding: 5rem 0;
}
.ph-6 {
    padding: 6rem 0;
}
.ph-7 {
    padding: 7rem 0;
}
::selection {
    background: #eeeeee; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #eeeeee; /* Gecko Browsers */
}

@media only screen and (max-width: 420px) {
    .effectiveness {
      padding: 50px 0;
    }
    .about .header .blocks {
        padding: 50px 0;
    }
    .about .journey {
        background-image: none;
        padding: 90px 0;
    }
  }
