html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*====================Base Colors ==================*/
.base-text {
  color: #2e4360!important;
}
.baseColor {
  background-color: #2e4360;
  color: #ffffff;
}
.baseColor:hover {
  color: #2e4360;
  background-color: #ffffff;
}
.secondColor {
  background-color: #ffa726;
  color: #ffffff;
}
.thirdColor {
  background-color: #fce431;
  color: #000000;
}
.base-bg {
  background-color: #2e4360;
}
.base-bg-hover:hover, .base-bg-hover:focus {
  background-color: #ffa726;
}
.parent-bg {
  background: #f1f1f1;
}
/*==================== End Colors #fd7f21==================*/
.header-section {
  padding: 200px 0;
}

.dashboard {
  margin: 50px auto;
}

nav {
  box-shadow: none;
}

.logo img {
  width: 100%;
  max-width: 200px;
}

footer .logo img {
  margin-top: 1.0933333333rem;
}

.banner {
  padding: 0 !important;
}

section {
  padding: 50px 0;
}

.banner img {
  max-width: 1366px;
  width: 100%;
  height: auto;
}

.blocks.title.border.top:before,
.blocks.title.border.bottom:after {
  content: '';
}

.blocks.title:before,
.blocks.title:after {
  content: none;
  display: block;
  width: 60px;
  height: 4px;
  background: #fb771b;
}

.blocks.title.bd-white:before,
.blocks.title.bd-white:after {
  background: #ffffff;
}

.blocks.qualities {
  padding: 150px 0;
}

.blocks.qualities > div {
  float: left;
  padding: 0 30px;
}

.blocks.qualities .heading {
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

.blocks.qualities .image {
  height: 62px;
  max-width: 80px;
  width: 100%;
  margin-right: 30px;
  display: inline-block;
  vertical-align: bottom;
}

.blocks.qualities .image img {
  display: inline-block;
  vertical-align: bottom;
}

.blocks.qualities>div:last-child .image img {
  margin-bottom: -43px;
  position: relative;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.blocks.qualities .title {
  overflow: hidden;
  margin-bottom: -2px;
  font-size: 30px;
  display: inline-block;
  vertical-align: bottom;
  font-weight: 400;
}

.blocks.qualities h3 {
  margin-bottom: 0;
}

.blocks.features {
  margin: 90px -15px 0 -15px;
  font-size: 18px;
  text-align: center;
}

.blocks.features:after {
  content: "";
  display: table;
  clear: both;
}

.blocks.features .image {
  position: relative;
  z-index: 1;
  line-height: 68px;
  height: 68px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 112px;
  font-size: 0;
  padding: 0 30px;
  background: #fff;
}

.blocks.features .content {
  margin-top: 12px;
  min-height: 80px;
}

.blocks.features .title {
  min-height: 50px;
}

footer ul li {
  line-height: 2.5;
}

footer {
  font-size: .8rem;
}

footer ul li {
  line-height: 2.5;
}

footer h5 {
  font-size: 15px;
  font-weight: 600;
  color: #313351;
  word-break: break-word;
}

.badge {
  margin-top: 140px;
}

.badge img {
  max-width: 350px;
  width: 100%;
}

footer .footer-copyright a {
  padding-left: 20px;
}

/* ---- particles.js container ---- */

.particles {
  width: 100%;
  height: 600px;
  position: absolute;
  background-color: #313351;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/*================= Contact Us ===============*/

.location {
  height: 500px;
}

.contact .query img {
  width: 100%;
}

.contact .query .contact-form .input-field>label,
.contact .query .contact-form .input-field>label.active {
  color: #2e4360;
}

.contact .query .contact-form input,
.contact .query .contact-form textarea {
  border-bottom: 1px solid #2e4360;
}

.contact .query .contact-form input:focus,
.contact .query .contact-form textarea:focus {
  color: #2e4360;
  border-bottom: 1px solid #2e4360!important;
  box-shadow: 0 1px 0 0 #2e4360;
}

.contact .query .contact-form .input-field.col {
  margin-bottom: 0;
  margin-top: 0;
}

.contact .map ul.tabs {
  border: 1px solid #eeeeee;
}

@media only screen and (min-width: 768px) {
  .contact .query .contact-form {
    padding: 0 0 0 5em;
  }
}

@media only screen and (max-width: 420px) {
  .header-section {
    padding: 110px 0;
  }
  .work-process .blocks.features .col {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 360px) {
  .header-section {
    padding: 90px 0;
  }
  .work-process .blocks.features .col {
    padding: 2rem 0;
  }
}
